<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nobis officia quae quam recusandae rerum temporibus. Assumenda consequatur consequuntur in inventore iure modi nesciunt perspiciatis temporibus? Ab aliquam aut ea ex, ipsum laborum molestiae nam recusandae sint suscipit! Consequatur distinctio doloremque eius et ex neque, nesciunt placeat quia reprehenderit tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nobis officia quae quam recusandae rerum temporibus. Assumenda consequatur consequuntur in inventore iure modi nesciunt perspiciatis temporibus? Ab aliquam aut ea ex, ipsum laborum molestiae nam recusandae sint suscipit! Consequatur distinctio doloremque eius et ex neque, nesciunt placeat quia reprehenderit tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nobis officia quae quam recusandae rerum temporibus. Assumenda consequatur consequuntur in inventore iure modi nesciunt perspiciatis temporibus? Ab aliquam aut ea ex, ipsum laborum molestiae nam recusandae sint suscipit! Consequatur distinctio doloremque eius et ex neque, nesciunt placeat quia reprehenderit tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nobis officia quae quam recusandae rerum temporibus. Assumenda consequatur consequuntur in inventore iure modi nesciunt perspiciatis temporibus? Ab aliquam aut ea ex, ipsum laborum molestiae nam recusandae sint suscipit! Consequatur distinctio doloremque eius et ex neque, nesciunt placeat quia reprehenderit tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nobis officia quae quam recusandae rerum temporibus. Assumenda consequatur consequuntur in inventore iure modi nesciunt perspiciatis temporibus? Ab aliquam aut ea ex, ipsum laborum molestiae nam recusandae sint suscipit! Consequatur distinctio doloremque eius et ex neque, nesciunt placeat quia reprehenderit tenetur.</p>
  </div>
</div>
